{
   "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
   ],
   "plugins": [
      "@babel/plugin-transform-react-constant-elements"
   ],
   "env": {
      "development": {
         "plugins": [
            "react-refresh/babel"
         ]
      },
      "production": {
         "plugins": [
            "transform-react-remove-prop-types"
         ]
      }
   }
}
